<div>
  <div class="filter">
    <h3 class="filter__title">show:</h3>
    <ul class="filter__list">
      <!-- setting class based on listFilter value -->
      <li class="filter__list-item" ng-class="{'filter__list-item--active': listCtrl.listFilter === 'all'}">
        <!-- updating url when filter link is clicked -->
        <!-- setting the filter property of the listWoofs state -->
        <!-- ui-sref="stateName({ urlParam: 'val' })" -->
        <a ui-sref="woofParent.listWoofs({ filter: 'all' })">all</a>
      </li>
      <li class="filter__list-item" ng-class="{'filter__list-item--active': listCtrl.listFilter === 'starred'}">
        <a ui-sref="woofParent.listWoofs({ filter: 'starred' })">starred</a>
      </li>
    </ul>
  </div>

  <ul class="cards">
    <!-- setting a filter for what ng-repeat builds out -->
    <li ng-repeat="woof in listCtrl.allWoofs | filter: listCtrl.filterObj[listCtrl.listFilter]" class="card">
      <div class="card__left">
        <div class="card__text">{{woof.body}}</div>

        <div class="card__star-count">
        </div>
      </div>
      <div class="card__right">
        <!-- apply class name based on a condition -->
        <div ng-class="{'card__star--active': woof.starred}" ng-click="listCtrl.toggleStar(woof)" class="card__star">
      </div>
    </li>
  </ul>
</div>
